# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.keystore
android/keystore.properties
*.iml
.idea/

# Watch app
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
